#wrapper {
    margin: auto;
    width: 500px;
    box-shadow: 2px 2px 2px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}

#grid {
    border: 1px solid grey;
    display: grid;
    
}

.box {
    border: 1px solid lightgrey;
    /* width: 50; */
    /* height: 25px; */
}

#options {

}